.header__content--title{
    max-width: 80rem;
    font-size: 6rem;
    padding: 10rem 0 5rem 0;
    color: #282331;
}
.header__content--text{
    max-width: 65rem;
    font-size: 2rem;
    padding-bottom: 5rem;
    color: rgba(40, 35, 49, 0.702);
}

@media only screen and (max-width: 767px) {

    .header__content--title{
        max-width: 80rem;
        font-size: 3rem;
        padding: 4rem 0;
        color: #282331;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .header__content--title{
        max-width: 80rem;
        font-size: 4rem;


    }
}