.header__phone--bar{
    background-color: transparent;
    border: unset;
    color: #128b98;
    font-size: 2.5rem;
}


.header__phone {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #128b98;
    opacity: .7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.header__phone--openSidenav{

    width: 25rem;
}
.header__phone--closeSidenav{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
}
.header__phone--closeSidenav:hover{
    color: #fff;
    text-decoration: none;
}
.header__phone--link {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.header__phone--link:hover {
    color: #fff;
    text-decoration: none;
}


