.link__group{

}

.link__group--item{
    padding: 1.5rem 6rem;
    color: #fff;
    background-color: #128b98;
    margin-right: 4rem;
    font-size: 2rem;
}
@media only screen and (max-width: 767px) {
    .link__group--item{
        padding: 1.5rem 6rem;
        color: #fff;
        background-color: #128b98;
        margin-bottom: 2rem;
        font-size: 2rem;
        text-align: center;
        display: block;
        margin-right: 0;
    }
}