.header__imgBox{
    position: absolute;
    right: 0;
    top: 10rem;
}

.header__imgBox{
    padding:  1rem;
}
.header__imgBox--img-1{
    width: 60rem;
    z-index: -3;
}
.header__imgBox--img-2{
    width: 30rem;
    position: absolute;
    right: 16rem;
    top: 10rem;
    z-index: 1;
}

.header__imgBox--img-3{
    width: 25rem;
    position: absolute;
    right: 20rem;
    top: 9rem;
}

.rotate__forward {
    animation-name: forward;
    animation-duration: 65000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes forward {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.rotate__back {
    animation-name: back;
    animation-duration: 65000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes back {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

@media only screen and (max-width: 768px) {
    .header__imgBox{
        display: none;
    }
}