
.header {
    padding-top: 5rem;
    padding-left: 10px;
    padding-bottom: 10rem;
    height: 100vh;
  }
  .header__bg{
    background: url(../../img/bg1.png), url(../../img/bf-3.png),url(../../img/bg-2.png) ;
    background-position:100% 0% ,left 0 top 25rem , 18rem  16rem,top right;
    background-repeat: no-repeat, no-repeat;
    background-size: 60%, 20%,10%,61% 80%;
    position: relative;
  }

.header__nav{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 768px) {

    .header {
        padding-top: 2rem;
        padding-left: 0;
        background: unset;
    }
}
