.header__list{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header__item {
    list-style: none;
    margin: 0;
    padding: .5rem 3rem;
    border-radius: 3px;
}
.header__item--link {
    color: #3a3a3a;
    font-size: 2.2rem;

}
.header__item--link:hover {
    color: #78c1d0;
    text-decoration: unset;
}

@media only screen and (max-width: 768px) {
    .header__list{
        display: none;
    }
}